@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(27, 27, 27);
}

.custom-curve {
  clip-path: path("M0,0 H100% V100% Q0 100% 0 0 Z");
}

.gold {
  color: #ffd700;
}

button {
  cursor: pointer;
}

.racing {
  font-family: "Racing Sans One";
}
.mont {
  font-family: "Montserrat";
}
